/*titulos y parrafos y fondo index*/
main {
    .wallp-image{
        background-image: url(../);
        height: 80vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .title-index{
                h1{
                    display: flex;
                    justify-content: center;
                    font-family: 'Oswald', sans-serif;
                    font-size: 3.3em;
                    animation: backInLeft; 
                    animation-duration: 5s;
                }
                p{
                    letter-spacing: 2px;
                    font-family: 'Oswald', sans-serif;
                    font-size: 15px;
                    text-align: center;
                }
            }   
    #gallery{
            margin: 0;
            padding: 1.563rem;
            img{
                width: 100%;
                height: 28rem;
                border-radius: 5px;
                box-shadow: 5px 5px 10px 5px #4b4c4d;
                opacity: 2;
                transition: all 300ms;
                object-fit: cover;
            }
            .col-lg-4{
                margin: 0;
                padding: 1.563rem;
            }
        }
}